body, html {
    font-family: Comic Sans MS,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif!important;
}

// 首页进入按钮
.action-button {
    width: 300px;
    height: 40px;
    line-height 14px;
}

// 首页背景图
.hero img {
    max-width: none !important;
    width: 800px;
    max-height: 400px !important;
    margin-top: 0 !important;
}

// 侧边栏
.sidebar {
    width: 18rem !important;
}

// 正文左内边距
.page {
    padding-left 18rem;
}