// 默认值
$accentColor = #F89714                      // 主题颜色
$textColor = #2c3e50                        // 文本颜色
$borderColor = #eaecef                      // 边框线颜色
$codeBgColor = #282c34                      // 代码块背景色
$backgroundColor = #ffffff                  // 悬浮块背景色

// 暗色主题
$accentDarkColor = #F89714                      // 主题颜色
$textDarkColor = #eaecef                        // 文本颜色
$borderDarkColor = #4e4e4e                      // 边框线颜色