
// /* 明亮主题 */
// $accentColor = #F89714                      // 主题颜色
// $textColor = #2c3e50                        // 文本颜色
// $borderColor = #eaecef                      // 边框线颜色
// $codeBgColor = #f3f5f7                      // 代码块背景色
// $bgColor = #ffffff                          // 背景色
// $lightColor = #333
// $lighterColor = black                          // 淡浅色

/* 暗黑主题 */
$accentColor = #F89714                      // 主题颜色（橙）
$textColor = #e2e2e2                        // 文本颜色
$borderColor = #666                         // 边框线颜色
$codeBgColor = #282c34                      // 代码块背景色
$bgColor = #25272a                          // 背景色
$lightColor = #666
$lighterColor = #999                          // 淡浅色