$MQMobile = 719px

html
body
  background-color $bgColor
  color $textColor

.search-box
  input
    border-color desaturate(lighten($bgColor, 30%), 30%)
    background-color $bgColor
    color desaturate(lighten($bgColor, 80%), 50%)
  .suggestions
    background-color $bgColor !important
    border 0
  .suggestion
    a
      color desaturate(lighten($bgColor, 80%), 50%)

    &.focused
      background-color transparent !important
      a
        color #fff

.algolia-search-wrapper
  .algolia-autocomplete
    .ds-dropdown-menu
      border: 0
      background-color desaturate(lighten($bgColor, 15%), 10%)

      &:before
        background-color desaturate(lighten($bgColor, 15%), 10%)
        border: 0

@media (min-width: $MQMobile)
  .dropdown-wrapper
    .nav-dropdown
      background-color desaturate(lighten($bgColor, 0%), 10%) !important
      border-color $borderColor !important
      color $borderColor

      .dropdown-item
        h4
          border-top-color desaturate(lighten($bgColor, 30%), 30%)

.sw-update-popup
  background-color desaturate(lighten($bgColor, 15%), 10%)
  border 0

.navbar
  border-bottom-color desaturate(lighten($bgColor, 10%), 10%)
  background-color $bgColor

  .site-name
    color #fff

  .links
    background-color $bgColor !important

.page-edit
  .edit-link
    a
      color desaturate(lighten($bgColor, 50%), 50%)

      &:hover,
      &:focus
        color #fff
  .last-updated
    position: absolute;
    top: 14%;
    font-size: 0.4em !important;
    border-top: 1px solid rgba(255,255,255,0.3);
    padding-top: 6px;
    .prefix
      color desaturate(lighten($bgColor, 40%), 50%) !important
    
    .time
      color desaturate(lighten($bgColor, 40%), 50%) !important

// 总览页css
.theme-container.p-overview-page
  .last-updated
    display none

h2
  border-bottom-color desaturate(lighten($bgColor, 10%), 10%)

hr
  border-top-color desaturate(lighten($bgColor, 10%), 10%)

.page-nav
  .inner
    color desaturate(lighten($bgColor, 50%), 50%)
    border-top-color desaturate(lighten($bgColor, 10%), 10%)

.sidebar
  background-color $bgColor
  border-right-color desaturate(lighten($bgColor, 10%), 10%)

  .nav-links
    border-bottom-color desaturate(lighten($bgColor, 10%), 10%)

  a.sidebar-link
    color $textColor !important
    transition: all .3s ease

    &:hover,
    &:focus,
    &.active
      color $accentColor !important
      font-weight bold !important
      transition: all .3s ease
    

  .sidebar-heading
    color desaturate(lighten($bgColor, 80%), 50%)

    &.open,
    &:hover
      color #fff

.nav-links
  a
    color $textColor !important
    transition: all .3s ease

    &:hover,
    &:focus,
    &.router-link-active
      color $accentColor !important
      font-weight bold !important
      transition: all .3s ease

.home
  .hero
    .description
      color desaturate(lighten($bgColor, 50%), 50%)
    .action-button
      border 0
  .features,
  .footer
    border-top-color desaturate(lighten($bgColor, 10%), 10%)
  .feature
    h2
      color desaturate(lighten($bgColor, 70%), 40%)
    p
      color desaturate(lighten($bgColor, 50%), 50%)
  .footer
    color desaturate(lighten($bgColor, 50%), 50%)


.sidebar-sub-headers
  a.sidebar-link
      font-weight: normal
      transition: all .3s ease
      color: $lightColor
      transition: all .3s ease

      &.active
        margin: auto
        width: auto
        // color: $accentColor
        background transparent
        transition: all .3s ease
        // font-weight: bold !important

.custom-block
  &.tip
    background-color $codeBgColor

// 导航样式
.dropdown-wrapper
  .nav-dropdown
    padding: 0 !important
   
    .dropdown-item
      padding-bottom: 0.45rem !important

      h4
        margin: .45rem 0 !important
        padding: 0.45rem 1.5rem 0 0.8rem !important
        color: $lighterColor
        border-top: 1px solid $borderColor !important

        &:first-child
          margin-top: 0 !important

.search-box
  input 
    background-color $bgColor !important

.home
  .hero
    img
      height: 400px
      max-height none !important
  .hero::after {
        content: " "
        display: inline-block
        position: absolute
        top: 360px;
        left: 20%;
        width: 120px
        height: 150px
        background-image: url('/float-triangle.png')
        background-size: auto 100%;
        -moz-animation: mymove 5s infinite linear; /* Firefox */
        -webkit-animation: mymove 5s infinite linear; /* Safari and Chrome */
        -o-animation: mymove 5s infinite linear;
        animation: mymove 5s infinite linear;
    }

@media (max-width: $MQMobile)
  .home
    .hero
      img
        height: 12rem
        max-height none !important
    .hero::after {
        content: " "
        display: inline-block
        position: absolute
        top: 14rem;
        left: 6rem;
        width: 3rem
        height: 4rem
        background-image: url('/float-triangle.png')
        background-size: auto 100%;
        -moz-animation: mymove 5s infinite linear; /* Firefox */
        -webkit-animation: mymove 5s infinite linear; /* Safari and Chrome */
        -o-animation: mymove 5s infinite linear;
        animation: mymove 5s infinite linear;
    }

@keyframes mymove {
    0% {
        transform: translateY(-50%) rotate(5deg);
    }

    25% {
        transform: translateY(-16%) rotate(-5deg);
    }

    50% {
        transform: translateY(23%) rotate(5deg);
    }

    75% {
        transform: translateY(-16%) rotate(-5deg);
    }

    100% {
        transform: translateY(-50%)  rotate(5deg);
    }
}